/*  primary color:  #757575 */
/* secondary color: #212121   */
/*  footer color: rgba(255, 255, 255, 0.6) */
/* accent color: #2196F3; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --svg-team-color: #afb1b8;
  --footer-color: rgba(255, 255, 255, 0.6);

  --secondary-backgroung-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --footer-backgroung-color: #2f303a;
  --gradient-hero-color: rgba(47, 48, 58, 0.4);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
h2,
h3 {
  margin: 0;

  color: var(--title-text-color);
}
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
header {
  border-bottom: 1px;
}

.header-div {
  display: flex;
  align-items: center;
}
.header-div .nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-link {
  display: flex;
}
.header-link .item {
  margin-right: 50px;
}
.header-link .item:last-child {
  margin-right: 0;
}
.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contacts .item:first-child {
  margin-right: 50px;
}

.logo {
  display: block;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-type {
  color: var(--primary-black-color);
}
.nav-link {
  position: relative;
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  text-decoration: none;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .nav-link.current {
  color: var(--accent-color);
}
.nav-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-contacts {
  display: block;
  padding: 32px 0;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
}
.nav-contacts:focus,
.nav-contacts:hover {
  color: var(--accent-color);
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.svg-tel {
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

/* hero */
.overlay {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      var(--gradient-hero-color),
      var(--gradient-hero-color)
    ),
    url(../images/bg-hero.jpg);
  background-color: var(--hero-bg-color);
  background-position: center;
  margin: 0 auto;
}
.hero {
  padding: 200px 0;
}

.hero-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  display: block;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;

  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}
/* main */

/* features */
.features {
  padding: 94px 0;
}

.features-title {
  margin-bottom: 10px;

  font-weight: bold;
  text-transform: uppercase;
}
.features-svg {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0px;
  background-color: var(--secondary-backgroung-color);
  border-radius: 4px;
}
.features-svg .item-svg {
  width: 70px;
  height: 70px;
}
.features-svg .item {
  width: 70px;
  height: 70px;
}
.features-list {
  display: flex;
  margin-right: -30px;
}

.features-list .item {
  width: 270px;
  margin-right: 30px;
}
.features-list .item:last-child {
  width: 270px;
  margin-right: 0;
}

.features-description {
  line-height: 1.71;
}
/* works */
.works-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.works {
  padding-bottom: 94px;
}
.title-section {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.works-list {
  display: flex;
}
.works-list .list:first-child {
  margin-left: 0;
}
.works-list .list {
  position: relative;
  height: 294px;
  margin-left: 30px;
}
.work-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;

  padding: 27px 0px;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: bold;
}
/* team */
.team {
  padding: 94px 0;

  background-color: var(--secondary-backgroung-color);
}
.team-list {
  display: flex;
}
.team-list .item:last-child {
  margin-right: 0;
}
.team-list .item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.team-list .item div {
  padding: 30px 0;
  text-align: center;
}

.member-team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.description-member {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 16px;
}
.team-links {
  display: flex;
  margin: 0px 32px;
  justify-content: space-between;
}

.link-item > .container-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: var(--primary-text-color);
  fill: var(--svg-team-color);
}
.container-link:last-child {
  margin-right: 0px;
}
.link-item > .container-link:hover,
.link-item > .container-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--primary-white-color);
  fill: currentColor;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg {
  width: 20px;
  height: 20px;
}
/* Clients */
.clints-title {
  padding-top: 94px;
  margin-bottom: 50px;

  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients-icon {
  display: flex;
  padding-bottom: 94px;
}
.clients-container {
  margin-right: 30px;
}
.clients-container:last-child {
  margin-right: 0px;
}

.clients-container a:hover,
.clients-container a:focus {
  color: var(--accent-color);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg1 {
  width: 44px;
  height: 49px;
  margin: 20px 63px;
}
.clients-svg2 {
  width: 40px;
  height: 52px;
  margin: 19px 65px;
}
.clients-svg3 {
  width: 41px;
  height: 43px;
  margin: 24px 64px 23px 65px;
}
.clients-svg4 {
  width: 80px;
  height: 42px;
  margin: 24px 45px;
}
.clients-svg5 {
  width: 59px;
  height: 47px;
  margin: 22px 55px 21px 56px;
}
.clients-svg6 {
  width: 88px;
  height: 45px;
  margin: 22px 41px;
}
/* portfolio */
.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.header-div {
  display: flex;
  align-items: center;
}
.header-portfolio .nav {
  display: flex;
  align-items: center;
}

/* examples */
.examples-container {
  padding: 94px 0;
}
.examples-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.examples-button .item:not(:last-child) {
  margin-right: 8px;
}

/* buttons */
.button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--secondary-backgroung-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.button:focus,
.button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.examples .item {
  margin-right: 30px;
}
.examples-img {
  display: block;
}
.examples .item:nth-child(3n + 3) {
  margin-right: 0;
}
.examples .item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

/* content portfolio */
.decor-description {
  padding: 20px 0px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfolio-filter {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}
.decor {
  position: relative;
  display: block;

  text-decoration: none;
}
.decor:hover,
.decor:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 370px;
  height: 294px;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.55;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decor:hover .overlay-text,
.decor:focus .overlay-text {
  transform: translateY(0%);
}

/* footer */
.footer-company {
  display: block;
  margin-bottom: 20px;
}
.footer {
  padding: 60px 0;

  background-color: var(--footer-backgroung-color);
}
.logo-footer {
  color: var(--primary-white-color);
}

.footer-address {
  display: block;
  margin-bottom: 9px;

  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
}
.footer-info .item:first-child {
  margin-bottom: 9px;
}
.footer-contacts {
  display: block;

  color: var(--footer-color);
  line-height: 1.71;
  text-decoration: none;
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-position {
  display: flex;
  align-items: baseline;
}

.container-join {
  margin-left: 70px;
}

.footer-appeal {
  margin-bottom: 20px;

  font-weight: bold;
  color: var(--primary-white-color);
}

.footer-list-svg {
  display: flex;
}
.footer-mess {
  margin-right: 10px;
}
.footer-mess:last-child {
  margin-right: 0;
}
.footer-link-mess {
  display: block;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-link-mess:hover,
.footer-link-mess:focus {
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-mess:last-child {
}

.footer-svg {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: var(--primary-white-color);
}
